body {
    padding-top: 70px;
}

.container-fluid {
    min-height: 100%;
    width: 1400px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.justify {
    text-align: justify;
}


.table th, .table td {
     border-top: none !important;
}


.mytd-user {
    width: 30px;
}