{% extends "base.html" %}

{% block content %}
<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'core:home' %}">Accueil</a></li>
        <li class="active">Utilisateurs</li>
    </ul>
</div>

<div class="bs-component">

    <div class="page-header">
        <h1>Liste des utilisateurs</h1>
    </div>

    {% if vbprofiles_list %}
        {% for p in vbprofiles_list %}
            <div class="col-xs-6 col-md-4">
                <div class="bs-component">
                    <div class="panel panel-primary tournament">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <a href="{% url 'accounts:vbprofile_detail' p.id %}" class="btn btn-default btn-xs">Details</a>
                            </div>
                            <h3 class="btn-block panel-title" style="line-height:25.5px;">{{ p.get_full_name }} ({{ p.get_username }})</h3>
                        </div>
                        <div class="panel-body">
                        Club: {{ p.club }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="bs-component">
            <p>Pas d'utilisateur... Désolé :-(</p>
        </div>
    {% endif %}
</div>

{% endblock %}