{% extends "base.html" %}

{% block content %}

<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'core:home' %}">Accueil</a></li>
        <li><a href="{% url 'accounts:vbprofiles_list' %}">Utilisateurs</a></li>
        <li class="active">{{ object.get_full_name }}</li>
    </ul>
</div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>{{ object.get_full_name }}</h1>
                <h4>{{ object.get_username }}</h4>
            </div>
        </div>
    </div>


    {% if object.get_user.is_staff %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Administrateur</h3>
            </div>
            <div class="panel-body">
                Cet utilisateur fait parti des administrateurs du site.
                En cas de problème, vous pouvez le contacter en envoyant un mail à <a href="mailto:tournaments.vb@gmail.com">tournaments.vb@gmail.com</a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <h2>Informations</h2>
            {% if object.get_email or object.get_phone %}
            <table class="table">
                <tbody>
                    {% if object.get_email %}
                    <tr>
                        <td class="mytd-user">
                            <i class="fa fa-envelope"></i>
                        </td>
                        <td>{{ object.get_email }}</td>
                    </tr>
                    {% endif %}
                    {% if object.get_phone %}
                    <tr>
                        <td class="mytd-user">
                            <i class="fa fa-phone"></i>
                        </td>
                        <td>{{ object.get_phone }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% else %}
            <p>L'utilisateur ne veux pas donner ses informations.</p>
            {% endif %}
        </div>

        <div class="col-xs-6 col-md-4">
            <h2>Club et niveau</h2>
            {% if object.get_club or object.get_level %}
            <table class="table">
                <tbody>
                    {% if object.get_club %}
                    <tr>
                        <td class="mytd-user">
                            <strong>Club:</strong>
                        </td>
                        <td>{{ object.get_club }}</td>
                    </tr>
                    {% endif %}
                    {% if object.get_level %}
                    <tr>
                        <td class="mytd-user">
                            <strong>Niveau:</strong>
                        </td>
                        <td>{{ object.get_level }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% else %}
            <p>L'utilisateur ne veux pas donner ses informations sportives.</p>
            {% endif %}
        </div>

        <div class="col-xs-6 col-md-4">
            <h2>Réseaux sociaux</h2>
            {% if object.get_club or object.get_level %}
                {% if object.get_facebook %}
                <p>
                    <a class="btn btn-default btn-sm" href="https://www.facebook.com/{{ object.get_facebook }}">
                        <i class="fa fa-facebook-official fa-1g pull-left"></i>&nbsp;{{ object.get_facebook }}
                    </a>
                </p>
                {% endif %}
                {% if object.get_twitter %}
                <p>
                    <a class="btn btn-default btn-sm" style="vertical-align: middle;" href="https://www.twitter.com/{{ object.get_twitter }}">
                        <i class="fa fa-twitter fa-1g pull-left"></i>{{ object.get_twitter }}
                    </a>
                </p>
                {% endif %}
            {% else %}
            <p>L'utilisateur ne veux pas donner ses coordonnées de réseaux sociaux.</p>
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}