{% extends "base.html" %}

{% block content %}

<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'core:home' %}">Accueil</a></li>
        <li><a href="{% url 'core:events_list' %}">Tournois</a></li>
        <li class="active">{{ object.name }}</li>
    </ul>
</div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default">Recherche équipe</a>
                    <a href="#" class="btn btn-default">Recherche joueur</a>
                    {% if object.full %}
                        <a href="#" class="btn btn-danger disabled">Inscription</a>
                    {% else %}
                        <a href="#" class="btn btn-info">Inscription</a>
                    {% endif %}
                </div>
                <h1 id="type">{{ object.name }}</h1>
                {% if object.surface == "grass" %}
                    <h4>Tournoi se déroulant sur de l'herbe.</h4>
                {% elif object.surface == "sand" %}
                    <h4>Tournoi se déroulant sur du sable.</h4>
                {% elif object.surface == "indoor" %}
                    <h4>Tournoi se déroulant à l'intérieur.</h4>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Headings -->

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="bs-component">
                <h2>Détails</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="mytd-user">
                                <strong>Organisateur:</strong>
                            </td>
                            <td>{{ object.vbuserprofile.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td class="mytd-user">
                                <strong>Club:</strong>
                            </td>
                            <td>{{ object.vbuserprofile.club }}</td>
                        </tr>
                        <tr>
                            <td class="mytd-user">
                                <strong>Gymnases:</strong>
                            </td>
                            <td>{{ object.nb_gymnasiums }}</td>
                        </tr>
                        <tr>
                            <td class="mytd-user">
                                <strong>Terrains:</strong>
                            </td>
                            <td>{{ object.nb_terrains }}</td>
                        </tr>
                        <tr>
                            <td class="mytd-user">
                                <strong>Équipes:</strong>
                            </td>
                            <td>{{ object.nb_teams }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="bs-component">
                <h2>Adresse</h2>
                <p>{{ object.name_gymnasium }}</p>
                <p>{{ object.nb_in_street }}, {{ object.street }}</p>
                <p>{{ object.zip_code }} {{ object.city }}</p>
                <p>{{ object.region }}</p>
                <p>{{ object.country }}</p>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="bs-component">
                <h2>Date</h2>
                <div class="list-group">
                {% for d in object.get_all_tournaments_related %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ d.date }}</h4>
                        <p class="list-group-item-text">
                            {{ d.nb_players }}x{{ d.nb_players }}

                            {% if d.sx_players == "female" %}
                                Féminin
                            {% elif d.sx_players == "male" %}
                                Masculin
                            {% elif d.sx_players == "mixed" %}
                                Mixte
                            {% endif %}

                            <br/>

                            {% for l in d.get_list_levels %}
                                {{ l }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="bs-component">
        <div class="bs-component justify">
            <h2>Description</h2>
                {{ object.description|linebreaksbr }}
        </div>
    </div>

</div>

{% endblock %}