{% extends "base.html" %}

{% block content %}
<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'core:home' %}">Accueil</a></li>
        <li class="active">Tournois</li>
    </ul>
</div>

<div class="bs-component">

    <div class="page-header">
        <h1>Liste des tournois</h1>
    </div>

    {% if events_list %}
        {% for e in events_list %}
            <div class="bs-component">
                <div class="panel panel-primary tournament">
                    <div class="panel-heading">
                        <div class="btn-group pull-right">
                            <a href="{% url 'core:event_detail' e.id %}" class="btn btn-default btn-xs">Details</a>
                            {# <a href="{% url 'core:inscription_form' e.id %}" class="btn btn-default btn-xs">Inscription</a> #}
                            {% if e.get_full %}
                                <a href="#" class="btn btn-danger btn-xs disabled">Inscription</a>
                            {% else %}
                                <a href="#" class="btn btn-info btn-xs">Inscription</a>
                            {% endif %}
                        </div>
                        <h3 class="btn-block panel-title" style="line-height:25.5px;">{{ e.get_city }} ({{ e.get_zip_code }} - {{ e.get_country_iso }})</h3>
                    </div>
                    <div class="panel-body">

                    {% for t in e.get_all_tournaments_related %}
                        {{ t.get_nb_players }}x{{ t.get_nb_players }}

                        {% if t.get_sx_players == "female" %}
                            Féminin
                        {% elif t.get_sx_players == "male" %}
                            Masculin
                        {% elif t.get_sx_players == "mixed" %}
                            Mixte
                        {% endif %}
                    {% endfor %}

                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="bs-component">
            <p>Pas de tournoi disponible... Désolé :-(</p>
        </div>
    {% endif %}
</div>

{% endblock %}