{% extends "base.html" %}

{% block content %}
<div class="bs-component">
    <div class="jumbotron">
      <h1>Welcome on VBTournaments</h1>
      <p>VBTournaments is a new website for referencing volleyball tournaments.<br />
      It, also, helps organizers and teams in the inscription process with its online interface.</p>
      <p class="warning">Please note that there is no online payment for now ;-)</p>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>
<div class="bs-component">
    <h1>Website's news</h1>
</div>
{% endblock %}